﻿<div class="row">
    <div class="col-sm-6 col-md-5">
        <section class="panel panel-default services-basic">
            <div class="panel-heading"><h1><small>Included</small>Services</h1></div>
            <ul class="list-group">
                <li class="list-group-item">2 hour session of Photo Booth services</li>
                <li class="list-group-item">Unlimited instant photo printing</li>
                <li class="list-group-item">Color or Black &amp;White prints</li>
                <li class="list-group-item">Custom layout (4&quot;x6&quot; or 2&quot;x6&quot; doubles)</li>
                <li class="list-group-item">Choice of backdrop</li>
                <li class="list-group-item">Photo props</li>
                <li class="list-group-item">On-site attendant to assist guests</li>
                <li class="list-group-item">Photos uploaded to our password-protected online gallery</li>
            </ul>
            <table class="table">
                <tr>
                    <td><h5>Starting Rate</h5></td>
                    <td class="price">{{basePrice|currency:"$":0}}</td>
                </tr>
            </table>
        </section>
    </div>
    <div class="col-sm-6 col-md-7">
        <section class="panel panel-info services-optional">
            <div class="panel-heading"><h1><small>Optional</small>Add-Ons</h1></div>
            <table class="table">
                <tr ng-repeat="option in optionalServices">
                    <td>
                        <h5>{{option.name}}</h5>
                        {{option.description}}
                    </td>
                    <td class="price">{{option.price|currency:"$":0}} {{option.unit}}</td>
                </tr>
            </table>
        </section>
    </div>
</div>