@mixin navbar-highlight {
    background-color: transparent;
    border-bottom-color: white;
    color: white;
    text-shadow: 0 0 0px white;
}

// jQuery widget overrides
.ui-selectmenu-button {
    background: none;

    span.ui-selectmenu-text {
        line-height: 1.2;
    }
}

.ui-selectmenu-menu .ui-menu {
    max-height: 200px;
}

.ui-menu {
    max-height: 258px;
    overflow-x: hidden;
    overflow-y: auto;

    .ui-menu-item {
        padding: 6px 1em 6px 0.9em;
    }
}

.tooltip {
    white-space: nowrap;
}

.ui-combobox {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 34px;
}

.ui-combobox .ui-state-default, .ui-menu-item.ui-state-focus, .ui-selectmenu-button.ui-state-default {
    font-weight: normal;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.ui-combobox-input.form-control {
    margin: 0;
    width: 100%;
    display: inline;

    &:hover, &:focus {
        border-right-width: 2px;
    }
}

// AngularJS UI Bootstrap overrides
.uib-time {
    input {
        padding-left: 0;
        padding-right: 0;
    }

    &.has-error .form-control {
        &, &:focus {
            border-color: #ccc;
            box-shadow: none;
        }
    }
}

// main styles
body {
    background-color: white;
    font: 16px/1.3em 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-top: 68px;

    @media only screen and (min-width:768px) {
        padding-top: 72px;
    }

    @media only screen and (min-width:992px) {
        padding-top: 90px;
    }
}

header {
    background-color: black;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

h1, h3, h5, legend {
    line-height: 1.3em;
    text-transform: uppercase;

    small {
        border-bottom: 3px solid black;
        color: inherit;
        font-weight: inherit;
        font-size: 67%;
        height: 27px;
        line-height: 27px;
        margin-right: .5em;
        text-transform: lowercase;
        position: relative;
        top: -9px;
    }
}

h1 {
    font-size: 24px;

    @media only screen and (min-width:768px) {
        font-size: 28px;
    }
}

legend {
    font-size: 22px;

    small {
        top: -7px;
    }
}

h3 small {
    height: 18px;
    line-height: 18px;
    top: -8px;
}

fieldset {
    border: 0;
    margin-top: 20px;

    + fieldset {
        margin-top: 10px;
    }

    legend {
        border: 0;
        margin-bottom: 10px;
    }
}

.table {
    > tbody > tr > td {
        &:first-child {
            padding-left: 15px;
        }

        &:last-child {
            padding-right: 15px;
        }

        @media only screen and (min-width:768px) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }

    td.price {
        text-align: right;
        white-space: nowrap;
    }

    h5 {
        margin: 0;
        line-height: 1.5714286;
    }
}

p {
    color: #444;
}

main > div[ui-view] {
    margin-top: 20px;
}

.panel-default, .panel-info {
    border-color: black;
    border-radius: 0;
    border-width: 2px;

    > .panel-heading {
        text-align: center;
        border-radius: 0;
        border-color: black;
        background-color: black;
        color: white;
    }
}

.panel-default > .panel-heading h1 small {
    border-color: white;
}

.panel-info {
    > .panel-heading {
        background-color: white;
        color: black;
    }
}

.well {
    border-radius: 0;
    border: none;
    background-color: #ededed;
    box-shadow: none;

    > h3 {
        margin-top: 0;
    }

    .content-hdr-img {
        position: absolute;
        border-bottom: 3px solid black;
        padding-bottom: 10px;

        + * {
            margin-left: 55px;
        }
    }
}

header > nav {
    background-color: black;
    box-shadow: 0 2px 0 0 white, 0 5px 0 0 black, 0 8px 0 0 white, 0 10px 0 0 rgba(0,0,0,.9), 0 13px 0 0 white, 0 14px 0 0 black, 0 17px 0 0 white, 0 18px 0 0 black;
    color: white;
    margin-bottom: 19px;
}

.navbar-toggle {
}

.navbar-brand {
    display: inline-table;
    padding-top: 10px;
    padding-bottom: 5px;

    @media only screen and (min-width:992px) {
        padding-top: 18px;
        padding-bottom: 10px;

        > img {
            height: auto;
        }
    }

    > img {
        height: 35px;
        margin: 0;

        @media only screen and (min-width:768px) {
            height: 36px;
        }

        @media only screen and (min-width:992px) {
            height: auto;
        }
    }
}

.navbar-inverse {
    background-color: black;

    .navbar-toggle {
        margin-right: 5px;

        .icon-bar {
            transition: all 0.2s ease;
        }

        &[aria-expanded=true] .icon-bar {
            &:nth-child(2) {
                transform: translate(3px, 0) rotate(45deg);
                transform-origin: 10% 10%;
            }

            &:nth-child(3) {
                opacity: 0;
            }

            &:nth-child(4) {
                transform: translate(3px, 0) rotate(-45deg);
                transform-origin: 10% 90%;
            }
        }

        &, &:focus, &:hover {
            background-color: transparent;
            border: none;
            margin-top: 10px;
        }

        .icon-bar {
            background-color: #ccc;
        }
    }

    .navbar-nav > li {
        margin: 1em;
        text-align: right;
        text-transform: uppercase;

        @media only screen and (min-width:768px) {
            margin: 1.3em .5em .7em;
            text-align: unset;

            &:last-child {
                margin-right: 0;
            }

            &.social-media-links {
                margin-top: 1.2em;
            }
        }

        @media only screen and (min-width:992px) {
            margin: 34px 1.5em 0;

            &.social-media-links {
                margin-top: 2em;
            }
        }

        > a {
            color: white;
            font: 11pt/1.1 'Muli', sans-serif;
            letter-spacing: 1px;
            border-bottom: 2px solid transparent;
            padding: 0 0 2px;
            transition: 0.3s ease;

            &:focus, &:hover {
                @include navbar-highlight
            }
        }

        &.active > a {
            &, &:focus, &:hover {
                @include navbar-highlight
            }
        }
    }
}

.navbar .navbar-nav li.social-media-links a {
    display: inline-block;

    @media only screen and (min-width:768px) {
        margin-left: .5em;
    }

    @media only screen and (min-width:992px) {
        margin-left: 1em;

        &:first-child {
            margin-left: 0;
        }
    }

    header &:not(:first-child) {
        margin-left: 1.5em;
    }

    &:focus, &:hover {
        border-bottom-color: transparent;
        background-color: transparent;
    }
}

#homeCarousel {
    border-bottom: 4px solid black;
    margin-bottom: 1em;
    padding-bottom: 2em;

    @media only screen and (min-width:768px) {
        padding-bottom: 0;

        .item h1 {
            margin: 15px 0 10px;

            @media only screen and (min-width:992px) {
                margin-top: 30px;
            }

            @media only screen and (min-width:1200px) {
                margin-top: 60px;
            }

            small {
                position: absolute;
                right: 100%;
                white-space: nowrap;
            }
        }
    }

    section {
        text-align: left;
    }

    .content-img {
        $content-gradient: rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.7) 60%,rgba(255,255,255,1) 100%;

        &::before {
            content: '';
            background-image: -webkit-linear-gradient(top,$content-gradient);
            background-image: -o-linear-gradient(top,$content-gradient);
            background-image: linear-gradient(to bottom,$content-gradient);
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;

            @media only screen and (min-height:411px) and (max-width:767px) {
                content: none;
            }

            @media only screen and (min-width:768px) {
                background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0.5) 67%, rgba(255,255,255,1) 100%);
                position: absolute;
            }

            @media only screen and (min-width:992px) {
                content: none;
            }
        }

        @media only screen and (max-height:411px) and (max-width:767px) {
            position: absolute;
        }
    }

    .content {
        h1 {
            margin: 15px 0 10px;
            position: relative;

            small {
                top: 0;
            }
        }

        p {
            font-size: 13pt;

            @media only screen and (min-width:768px) {
                font-size: 14pt;
            }
        }

        @media only screen and (max-height:411px) and (max-width:767px) {
            height: 100%;
            margin-top: 25%;
        }

        @media only screen and (min-width:992px) {
            padding-left: 100px;
        }
    }


    .carousel-control {
        display: none;
    }
}

.carousel-indicators {
    bottom: 0;

    @media only screen and (min-width:768px) {
        bottom: 10px;
    }

    li {
        border-color: #666;
        background-color: #666;
    }

    footer .copyright {
        padding-top: 15px;
        display: inline-block;
    }
}

footer {
    border-top: 3px solid black;
    margin-top: 13px;
    box-shadow: 0 -3px 0 0 white, 0 -5px 0 0 black, 0 -7px 0 0 white, 0 -8px 0 0 black, 0 -11px 0 0 white, 0 -13px 0 0 black;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 11pt;
    text-align: center;

    @media only screen and (min-width:768px) {
        text-align: initial;
    }
}

ul.staff {
    padding: 0;

    li {
        list-style: none;
        float: none;
        margin: auto;

        @media only screen and (min-width:393px) {
            float: left;
        }
    }
}

.staff-photo, .staff-caption {
    width: 174px;
    margin: auto;
    background-color: black;
    color: white;
}

.staff-photo {
    height: 256px;

    .img-thumbnail {
        border-radius: 0;
    }
}

.staff-caption {
    text-align: center;
    padding: 1em 0;
    margin-bottom: 3em;
    margin-top: 2px;
}

.staff-name {
    display: block;
    text-transform: uppercase;
    font: 12pt 'Muli', sans-serif;
}

.staff-title {
    display: block;
    font-size: 87.5%;
}

aside .well h2 {
    white-space: nowrap;
}

.well h2 small, .panel-heading h2 small {
    font-size: .72em;
    height: 1.4em;
    float: none;
    position: relative;
    top: -.4em;
}

form label {
    display: block;
    font-weight: normal;
}

input, textarea, button {
    border: 1px solid lightgray;
    transition: 0.3s ease;

    &:hover, &:hover, &:hover {
        border-color: gray;
    }
}

input.form-control:focus, textarea.form-control:focus, .ui-selectmenu-button:focus, .btn-primary:focus, .btn-primary:focus:active, .ui-combobox-input:focus, .ui-combobox-toggle:focus {
    border-color: black;
    box-shadow: 0 0 4px rgba(0,0,0,.3) inset, 0 0 8px rgba(0,0,0,.3);
    outline: none;
}

select.combobox {
    position: absolute;
    width: calc(100% - 30px);
    display: initial !important;

    &:focus {
        outline: none;
    }
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

form .form-control {
    border-radius: 0;
    font-size: 12pt;
}

input::-webkit-inner-spin-button {
    display: none;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #ccc;
    border-color: gray;
    box-shadow: none;
    color: inherit;
    font: bold 14pt/1.5 'Muli', sans-serif;
    padding: .2em .5em;
    text-transform: uppercase;

    &:hover, &:focus, &:focus:active {
        background-color: #666;
    }

    &:active, &:active:hover {
        background-color: #444;
    }
}

.embed-responsive-4by3 {
    padding-bottom: 100%;

    @media only screen and (min-width:768px) {
        padding-bottom: 75%;
    }
}

@media only screen and (min-width:768px) {
    form input[type=submit], form button[type=submit] {
        width: auto;
    }
}

@-webkit-keyframes pulse-fade {
    0%, 49%, 100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

@keyframes pulse-fade {
    0%, 49%, 100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

.loader-overlay {
    $transition: opacity .25s cubic-bezier(.1,.19,0,.98);
    opacity: 1;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    background: white;
    background: rgba(255,255,255,.8);

    .loader-overlay-message {
        font-family: 'Muli', sans-serif;
        font-size: .875em;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
    }

    .loader-container {
        $transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin-top: 10px;
        -webkit-transform: $transform;
        -ms-transform: $transform;
        -o-transform: $transform;
        transform: $transform;

        .spinner {
            position: absolute;
            width: 0px;
            top: 25%;
            left: 50%;
            z-index: 2000000000;

            .spinner-bar {
                position: absolute;
                top: -1px;
                opacity: 0.2;
                animation: pulse-fade 1.2s linear infinite;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 9px;
                    height: 2px;
                    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
                    transform-origin: left 50% 0px;
                    border-radius: 1px;
                    background: rgb(0, 0, 0);
                }

                @for $i from 0 through 11 {
                    &:nth-child(#{$i+1}) {
                        $delay: 0s + $i * 0.1;
                        -webkit-animation-delay: $delay;
                        -o-animation-delay: $delay;
                        animation-delay: $delay;

                        &::before {
                            $deg: $i * 30deg;
                            $transform: rotate($deg) translate(7px, 0px);
                            -webkit-transform: $transform;
                            -ms-transform: $transform;
                            -o-transform: $transform;
                            transform: $transform;
                        }
                    }
                }
            }
        }
    }

    &.loader-with-content .loader-container .spinner {
        position: static;
        top: auto;
        left: auto;
        margin: 0 auto 20px;
    }
}

//glyphicon glyphicon-chevron-right
