.ui-selectmenu-button {
  background: none; }
  .ui-selectmenu-button span.ui-selectmenu-text {
    line-height: 1.2; }

.ui-selectmenu-menu .ui-menu {
  max-height: 200px; }

.ui-menu {
  max-height: 258px;
  overflow-x: hidden;
  overflow-y: auto; }
  .ui-menu .ui-menu-item {
    padding: 6px 1em 6px 0.9em; }

.tooltip {
  white-space: nowrap; }

.ui-combobox {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-right: 34px; }

.ui-combobox .ui-state-default, .ui-menu-item.ui-state-focus, .ui-selectmenu-button.ui-state-default {
  font-weight: normal; }

.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0; }

.ui-combobox-input.form-control {
  margin: 0;
  width: 100%;
  display: inline; }
  .ui-combobox-input.form-control:hover, .ui-combobox-input.form-control:focus {
    border-right-width: 2px; }

.uib-time input {
  padding-left: 0;
  padding-right: 0; }
.uib-time.has-error .form-control, .uib-time.has-error .form-control:focus {
  border-color: #ccc;
  box-shadow: none; }

body {
  background-color: white;
  font: 16px/1.3em 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-top: 68px; }
  @media only screen and (min-width: 768px) {
    body {
      padding-top: 72px; } }
  @media only screen and (min-width: 992px) {
    body {
      padding-top: 90px; } }

header {
  background-color: black; }

h1, h2, h3, h4, h5, h6, legend {
  font-family: 'Muli', sans-serif;
  font-weight: bold; }

h1, h3, h5, legend {
  line-height: 1.3em;
  text-transform: uppercase; }
  h1 small, h3 small, h5 small, legend small {
    border-bottom: 3px solid black;
    color: inherit;
    font-weight: inherit;
    font-size: 67%;
    height: 27px;
    line-height: 27px;
    margin-right: .5em;
    text-transform: lowercase;
    position: relative;
    top: -9px; }

h1 {
  font-size: 24px; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 28px; } }

legend {
  font-size: 22px; }
  legend small {
    top: -7px; }

h3 small {
  height: 18px;
  line-height: 18px;
  top: -8px; }

fieldset {
  border: 0;
  margin-top: 20px; }
  fieldset + fieldset {
    margin-top: 10px; }
  fieldset legend {
    border: 0;
    margin-bottom: 10px; }

.table > tbody > tr > td:first-child {
  padding-left: 15px; }
.table > tbody > tr > td:last-child {
  padding-right: 15px; }
@media only screen and (min-width: 768px) {
  .table > tbody > tr > td {
    padding-left: 1em;
    padding-right: 1em; } }
.table td.price {
  text-align: right;
  white-space: nowrap; }
.table h5 {
  margin: 0;
  line-height: 1.5714286; }

p {
  color: #444; }

main > div[ui-view] {
  margin-top: 20px; }

.panel-default, .panel-info {
  border-color: black;
  border-radius: 0;
  border-width: 2px; }
  .panel-default > .panel-heading, .panel-info > .panel-heading {
    text-align: center;
    border-radius: 0;
    border-color: black;
    background-color: black;
    color: white; }

.panel-default > .panel-heading h1 small {
  border-color: white; }

.panel-info > .panel-heading {
  background-color: white;
  color: black; }

.well {
  border-radius: 0;
  border: none;
  background-color: #ededed;
  box-shadow: none; }
  .well > h3 {
    margin-top: 0; }
  .well .content-hdr-img {
    position: absolute;
    border-bottom: 3px solid black;
    padding-bottom: 10px; }
    .well .content-hdr-img + * {
      margin-left: 55px; }

header > nav {
  background-color: black;
  box-shadow: 0 2px 0 0 white, 0 5px 0 0 black, 0 8px 0 0 white, 0 10px 0 0 rgba(0, 0, 0, 0.9), 0 13px 0 0 white, 0 14px 0 0 black, 0 17px 0 0 white, 0 18px 0 0 black;
  color: white;
  margin-bottom: 19px; }

.navbar-brand {
  display: inline-table;
  padding-top: 10px;
  padding-bottom: 5px; }
  @media only screen and (min-width: 992px) {
    .navbar-brand {
      padding-top: 18px;
      padding-bottom: 10px; }
      .navbar-brand > img {
        height: auto; } }
  .navbar-brand > img {
    height: 35px;
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .navbar-brand > img {
        height: 36px; } }
    @media only screen and (min-width: 992px) {
      .navbar-brand > img {
        height: auto; } }

.navbar-inverse {
  background-color: black; }
  .navbar-inverse .navbar-toggle {
    margin-right: 5px; }
    .navbar-inverse .navbar-toggle .icon-bar {
      transition: all 0.2s ease; }
    .navbar-inverse .navbar-toggle[aria-expanded=true] .icon-bar:nth-child(2) {
      transform: translate(3px, 0) rotate(45deg);
      transform-origin: 10% 10%; }
    .navbar-inverse .navbar-toggle[aria-expanded=true] .icon-bar:nth-child(3) {
      opacity: 0; }
    .navbar-inverse .navbar-toggle[aria-expanded=true] .icon-bar:nth-child(4) {
      transform: translate(3px, 0) rotate(-45deg);
      transform-origin: 10% 90%; }
    .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background-color: transparent;
      border: none;
      margin-top: 10px; }
    .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #ccc; }
  .navbar-inverse .navbar-nav > li {
    margin: 1em;
    text-align: right;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .navbar-inverse .navbar-nav > li {
        margin: 1.3em .5em .7em;
        text-align: unset; }
        .navbar-inverse .navbar-nav > li:last-child {
          margin-right: 0; }
        .navbar-inverse .navbar-nav > li.social-media-links {
          margin-top: 1.2em; } }
    @media only screen and (min-width: 992px) {
      .navbar-inverse .navbar-nav > li {
        margin: 34px 1.5em 0; }
        .navbar-inverse .navbar-nav > li.social-media-links {
          margin-top: 2em; } }
    .navbar-inverse .navbar-nav > li > a {
      color: white;
      font: 11pt/1.1 'Muli', sans-serif;
      letter-spacing: 1px;
      border-bottom: 2px solid transparent;
      padding: 0 0 2px;
      transition: 0.3s ease; }
      .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
        background-color: transparent;
        border-bottom-color: white;
        color: white;
        text-shadow: 0 0 0px white; }
    .navbar-inverse .navbar-nav > li.active > a, .navbar-inverse .navbar-nav > li.active > a:focus, .navbar-inverse .navbar-nav > li.active > a:hover {
      background-color: transparent;
      border-bottom-color: white;
      color: white;
      text-shadow: 0 0 0px white; }

.navbar .navbar-nav li.social-media-links a {
  display: inline-block; }
  @media only screen and (min-width: 768px) {
    .navbar .navbar-nav li.social-media-links a {
      margin-left: .5em; } }
  @media only screen and (min-width: 992px) {
    .navbar .navbar-nav li.social-media-links a {
      margin-left: 1em; }
      .navbar .navbar-nav li.social-media-links a:first-child {
        margin-left: 0; } }
  header .navbar .navbar-nav li.social-media-links a:not(:first-child) {
    margin-left: 1.5em; }
  .navbar .navbar-nav li.social-media-links a:focus, .navbar .navbar-nav li.social-media-links a:hover {
    border-bottom-color: transparent;
    background-color: transparent; }

#homeCarousel {
  border-bottom: 4px solid black;
  margin-bottom: 1em;
  padding-bottom: 2em; }
  @media only screen and (min-width: 768px) {
    #homeCarousel {
      padding-bottom: 0; }
      #homeCarousel .item h1 {
        margin: 15px 0 10px; } }
    @media only screen and (min-width: 768px) and (min-width: 992px) {
      #homeCarousel .item h1 {
        margin-top: 30px; } }
    @media only screen and (min-width: 768px) and (min-width: 1200px) {
      #homeCarousel .item h1 {
        margin-top: 60px; } }
  @media only screen and (min-width: 768px) {
        #homeCarousel .item h1 small {
          position: absolute;
          right: 100%;
          white-space: nowrap; } }
  #homeCarousel section {
    text-align: left; }
  #homeCarousel .content-img::before {
    content: '';
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.7) 60%, white 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.7) 60%, white 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.7) 60%, white 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
    @media only screen and (min-height: 411px) and (max-width: 767px) {
      #homeCarousel .content-img::before {
        content: none; } }
    @media only screen and (min-width: 768px) {
      #homeCarousel .content-img::before {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0.5) 67%, white 100%);
        position: absolute; } }
    @media only screen and (min-width: 992px) {
      #homeCarousel .content-img::before {
        content: none; } }
  @media only screen and (max-height: 411px) and (max-width: 767px) {
    #homeCarousel .content-img {
      position: absolute; } }
  #homeCarousel .content h1 {
    margin: 15px 0 10px;
    position: relative; }
    #homeCarousel .content h1 small {
      top: 0; }
  #homeCarousel .content p {
    font-size: 13pt; }
    @media only screen and (min-width: 768px) {
      #homeCarousel .content p {
        font-size: 14pt; } }
  @media only screen and (max-height: 411px) and (max-width: 767px) {
    #homeCarousel .content {
      height: 100%;
      margin-top: 25%; } }
  @media only screen and (min-width: 992px) {
    #homeCarousel .content {
      padding-left: 100px; } }
  #homeCarousel .carousel-control {
    display: none; }

.carousel-indicators {
  bottom: 0; }
  @media only screen and (min-width: 768px) {
    .carousel-indicators {
      bottom: 10px; } }
  .carousel-indicators li {
    border-color: #666;
    background-color: #666; }
  .carousel-indicators footer .copyright {
    padding-top: 15px;
    display: inline-block; }

footer {
  border-top: 3px solid black;
  margin-top: 13px;
  box-shadow: 0 -3px 0 0 white, 0 -5px 0 0 black, 0 -7px 0 0 white, 0 -8px 0 0 black, 0 -11px 0 0 white, 0 -13px 0 0 black;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 11pt;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    footer {
      text-align: initial; } }

ul.staff {
  padding: 0; }
  ul.staff li {
    list-style: none;
    float: none;
    margin: auto; }
    @media only screen and (min-width: 393px) {
      ul.staff li {
        float: left; } }

.staff-photo, .staff-caption {
  width: 174px;
  margin: auto;
  background-color: black;
  color: white; }

.staff-photo {
  height: 256px; }
  .staff-photo .img-thumbnail {
    border-radius: 0; }

.staff-caption {
  text-align: center;
  padding: 1em 0;
  margin-bottom: 3em;
  margin-top: 2px; }

.staff-name {
  display: block;
  text-transform: uppercase;
  font: 12pt 'Muli', sans-serif; }

.staff-title {
  display: block;
  font-size: 87.5%; }

aside .well h2 {
  white-space: nowrap; }

.well h2 small, .panel-heading h2 small {
  font-size: .72em;
  height: 1.4em;
  float: none;
  position: relative;
  top: -.4em; }

form label {
  display: block;
  font-weight: normal; }

input, textarea, button {
  border: 1px solid lightgray;
  transition: 0.3s ease; }
  input:hover, input:hover, input:hover, textarea:hover, textarea:hover, textarea:hover, button:hover, button:hover, button:hover {
    border-color: gray; }

input.form-control:focus, textarea.form-control:focus, .ui-selectmenu-button:focus, .btn-primary:focus, .btn-primary:focus:active, .ui-combobox-input:focus, .ui-combobox-toggle:focus {
  border-color: black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 0 8px rgba(0, 0, 0, 0.3);
  outline: none; }

select.combobox {
  position: absolute;
  width: calc(100% - 30px);
  display: initial !important; }
  select.combobox:focus {
    outline: none; }

input::-webkit-calendar-picker-indicator {
  display: none; }

form .form-control {
  border-radius: 0;
  font-size: 12pt; }

input::-webkit-inner-spin-button {
  display: none; }

.btn {
  border-radius: 0; }

.btn-primary {
  background-color: #ccc;
  border-color: gray;
  box-shadow: none;
  color: inherit;
  font: bold 14pt/1.5 'Muli', sans-serif;
  padding: .2em .5em;
  text-transform: uppercase; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:focus:active {
    background-color: #666; }
  .btn-primary:active, .btn-primary:active:hover {
    background-color: #444; }

.embed-responsive-4by3 {
  padding-bottom: 100%; }
  @media only screen and (min-width: 768px) {
    .embed-responsive-4by3 {
      padding-bottom: 75%; } }

@media only screen and (min-width: 768px) {
  form input[type=submit], form button[type=submit] {
    width: auto; } }
@-webkit-keyframes pulse-fade {
  0%, 49%, 100% {
    opacity: 0.2; }
  50% {
    opacity: 1; } }
@keyframes pulse-fade {
  0%, 49%, 100% {
    opacity: 0.2; }
  50% {
    opacity: 1; } }
.loader-overlay {
  opacity: 1;
  -webkit-transition: opacity 0.25s cubic-bezier(0.1, 0.19, 0, 0.98);
  -o-transition: opacity 0.25s cubic-bezier(0.1, 0.19, 0, 0.98);
  transition: opacity 0.25s cubic-bezier(0.1, 0.19, 0, 0.98);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  background: white;
  background: rgba(255, 255, 255, 0.8); }
  .loader-overlay .loader-overlay-message {
    font-family: 'Muli', sans-serif;
    font-size: .875em;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle; }
  .loader-overlay .loader-container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .loader-overlay .loader-container .spinner {
      position: absolute;
      width: 0px;
      top: 25%;
      left: 50%;
      z-index: 2000000000; }
      .loader-overlay .loader-container .spinner .spinner-bar {
        position: absolute;
        top: -1px;
        opacity: 0.2;
        animation: pulse-fade 1.2s linear infinite; }
        .loader-overlay .loader-container .spinner .spinner-bar::before {
          content: "";
          display: block;
          position: absolute;
          width: 9px;
          height: 2px;
          box-shadow: rgba(0, 0, 0, 0.09804) 0px 0px 1px;
          transform-origin: left 50% 0px;
          border-radius: 1px;
          background: black; }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(1) {
          -webkit-animation-delay: 0s;
          -o-animation-delay: 0s;
          animation-delay: 0s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(1)::before {
            -webkit-transform: rotate(0deg) translate(7px, 0px);
            -ms-transform: rotate(0deg) translate(7px, 0px);
            -o-transform: rotate(0deg) translate(7px, 0px);
            transform: rotate(0deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(2) {
          -webkit-animation-delay: 0.1s;
          -o-animation-delay: 0.1s;
          animation-delay: 0.1s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(2)::before {
            -webkit-transform: rotate(30deg) translate(7px, 0px);
            -ms-transform: rotate(30deg) translate(7px, 0px);
            -o-transform: rotate(30deg) translate(7px, 0px);
            transform: rotate(30deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(3) {
          -webkit-animation-delay: 0.2s;
          -o-animation-delay: 0.2s;
          animation-delay: 0.2s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(3)::before {
            -webkit-transform: rotate(60deg) translate(7px, 0px);
            -ms-transform: rotate(60deg) translate(7px, 0px);
            -o-transform: rotate(60deg) translate(7px, 0px);
            transform: rotate(60deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(4) {
          -webkit-animation-delay: 0.3s;
          -o-animation-delay: 0.3s;
          animation-delay: 0.3s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(4)::before {
            -webkit-transform: rotate(90deg) translate(7px, 0px);
            -ms-transform: rotate(90deg) translate(7px, 0px);
            -o-transform: rotate(90deg) translate(7px, 0px);
            transform: rotate(90deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(5) {
          -webkit-animation-delay: 0.4s;
          -o-animation-delay: 0.4s;
          animation-delay: 0.4s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(5)::before {
            -webkit-transform: rotate(120deg) translate(7px, 0px);
            -ms-transform: rotate(120deg) translate(7px, 0px);
            -o-transform: rotate(120deg) translate(7px, 0px);
            transform: rotate(120deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(6) {
          -webkit-animation-delay: 0.5s;
          -o-animation-delay: 0.5s;
          animation-delay: 0.5s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(6)::before {
            -webkit-transform: rotate(150deg) translate(7px, 0px);
            -ms-transform: rotate(150deg) translate(7px, 0px);
            -o-transform: rotate(150deg) translate(7px, 0px);
            transform: rotate(150deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(7) {
          -webkit-animation-delay: 0.6s;
          -o-animation-delay: 0.6s;
          animation-delay: 0.6s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(7)::before {
            -webkit-transform: rotate(180deg) translate(7px, 0px);
            -ms-transform: rotate(180deg) translate(7px, 0px);
            -o-transform: rotate(180deg) translate(7px, 0px);
            transform: rotate(180deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(8) {
          -webkit-animation-delay: 0.7s;
          -o-animation-delay: 0.7s;
          animation-delay: 0.7s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(8)::before {
            -webkit-transform: rotate(210deg) translate(7px, 0px);
            -ms-transform: rotate(210deg) translate(7px, 0px);
            -o-transform: rotate(210deg) translate(7px, 0px);
            transform: rotate(210deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(9) {
          -webkit-animation-delay: 0.8s;
          -o-animation-delay: 0.8s;
          animation-delay: 0.8s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(9)::before {
            -webkit-transform: rotate(240deg) translate(7px, 0px);
            -ms-transform: rotate(240deg) translate(7px, 0px);
            -o-transform: rotate(240deg) translate(7px, 0px);
            transform: rotate(240deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(10) {
          -webkit-animation-delay: 0.9s;
          -o-animation-delay: 0.9s;
          animation-delay: 0.9s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(10)::before {
            -webkit-transform: rotate(270deg) translate(7px, 0px);
            -ms-transform: rotate(270deg) translate(7px, 0px);
            -o-transform: rotate(270deg) translate(7px, 0px);
            transform: rotate(270deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(11) {
          -webkit-animation-delay: 1s;
          -o-animation-delay: 1s;
          animation-delay: 1s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(11)::before {
            -webkit-transform: rotate(300deg) translate(7px, 0px);
            -ms-transform: rotate(300deg) translate(7px, 0px);
            -o-transform: rotate(300deg) translate(7px, 0px);
            transform: rotate(300deg) translate(7px, 0px); }
        .loader-overlay .loader-container .spinner .spinner-bar:nth-child(12) {
          -webkit-animation-delay: 1.1s;
          -o-animation-delay: 1.1s;
          animation-delay: 1.1s; }
          .loader-overlay .loader-container .spinner .spinner-bar:nth-child(12)::before {
            -webkit-transform: rotate(330deg) translate(7px, 0px);
            -ms-transform: rotate(330deg) translate(7px, 0px);
            -o-transform: rotate(330deg) translate(7px, 0px);
            transform: rotate(330deg) translate(7px, 0px); }
  .loader-overlay.loader-with-content .loader-container .spinner {
    position: static;
    top: auto;
    left: auto;
    margin: 0 auto 20px; }

/*# sourceMappingURL=global.css.map */
