﻿<div class="row">
    <div class="col-sm-8">
        <h1><small>Our</small>Staff</h1>
        <ul class="staff row">
            <li class="col-xs-6 col-md-4" ng-repeat="s in staff">
                <div class="staff-photo">
                    <img ng-if="s.photoFile" class="img-thumbnail" ng-src="/content/images/staff/{{s.photoFile}}" alt="{{s.name}}" />
                </div>
                <div class="staff-caption">
                    <span class="staff-name">{{s.name}}</span>
                    <span class="staff-title">{{s.title}}</span>
                </div>
            </li>
        </ul>
    </div>
    <aside class="col-sm-4">
        <section class="well well-lg">
            <h3><small>Our</small>Story</h3>
            <p>
                In 2014, Exquisite Booths joined the Exquisite NY family and has since established it’s own unique presence in New York City. Comprised of experienced deejays, emcees, and photo technicians, Exquisite Booths caters to a variety or occassions, including, but not limited to Quinceañeras and Sweet Sixteens, Corporate functions/parties, Anniversaries and Weddings, and Bar Mitzvahs.
            </p>
        </section>
        <section class="well well-lg">
            <h3><small>Our</small>Mission</h3>
            <p>
                To provide innovative party services for any event in New York City by organizing a fun and comfortable environment for all.
            </p>
        </section>
        <section class="well well-lg">
            <h3><small>Our</small>Guarantee</h3>
            <p>
                We put 110% into making your event the most memorable! We focus on your needs and strive to provide the utmost quality and professional services.
            </p>
        </section>
    </aside>
</div>