﻿<form ng-submit="submitForm()">
    <fieldset>
        <legend><small>About</small>You</legend>
        <div class="row">
            <div class="form-group col-md-5">
                <label class="control-label" for="ContactName">Name *</label>
                <input ng-model="formData.name" id="ContactName" class="form-control" type="text" name="Name" placeholder="First and last name" required autofocus />
            </div>
            <div class="form-group col-sm-6 col-md-4">
                <label class="control-label">E-mail Address *</label>
                <input ng-model="formData.email" class="form-control" type="email" name="mailfrom" placeholder="user@example.com" required />
            </div>
            <div class="form-group col-sm-6 col-md-3">
                <label class="control-label" for="Phone">Phone Number *</label>
                <input ng-model="formData.phone" class="form-control" type="tel" name="Phone" required />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend><small>Your</small>Venue</legend>
        <div class="form-group">
            <label class="control-label" for="VenueName">Venue Name</label>
            <input ng-model="formData.venue_name" class="form-control" type="text" name="VenueName" />
        </div>
        <div class="row">
            <div class="form-group col-sm-7">
                <label class="control-label" for="VenueAddress">Venue Address</label>
                <input ng-model="formData.venue_address" class="form-control" type="text" name="VenueStreetAddress" placeholder="Street address" />
            </div>
            <div class="form-group col-sm-5">
                <label class="control-label" for="VenueCityState">City, State, Zip Code</label>
                <input ng-model="formData.venue_city_state_zip" class="form-control" type="text" name="VenueCityState" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend><small>Your</small>Event</legend>
        <div class="row">
            <div class="form-group col-sm-4 col-md-5">
                <label class="control-label" for="EventType">Event Type *</label>
                <select class="combobox form-control" name="EventType">
                    <option value=""></option>
                    <option ng-repeat="type in eventTypes">{{type}}</option>
                </select>
                <input ng-model="formData.event_type" name="EventType" required />
            </div>
            <div class="form-group col-xs-6 col-sm-3">
                <label class="control-label" for="EventDate">Date of Event</label>
                <input ng-model="event_date" class="form-control" type="date" name="EventDate" placeholder="yyyy-mm-dd" title="yyyy-mm-dd" />
            </div>
            <div class="form-group col-xs-6 col-sm-3 col-md-2">
                <label class="control-label">Time of Event</label>
                <uib-timepicker ng-model="event_time" show-spinners="false"></uib-timepicker>
            </div>
            <div class="form-group col-sm-2">
                <label class="control-label" for="EventGuests"># of Guests</label>
                <input ng-model="formData.num_guests" class="form-control" type="number" name="EventGuests" min="1" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend><small>Questions</small>&amp; Comments</legend>
        <div class="form-group">
            <label class="sr-only">Any additional requests or important details?</label>
            <textarea ng-model="formData.comments" class="form-control" name="Comments" rows="4" placeholder="Any additional requests or important details?"></textarea>
        </div>
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<script type="text/ng-template" id="modal_contact_results.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact Form Submission</h4>
    </div>
    <div class="modal-body">
        <p ng-if="!errorMessage">Thank you for your submission. A representative will get back to you as soon as possible.</p>
        <div ng-if="errorMessage">
            <p>The following error occurred while processing your request:</p>
            <p class="well well-sm"><strong ng-bind="errorMessage"></strong></p>
            <p>Please try again later.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>