﻿<uib-carousel id="homeCarousel" interval="interval">
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <section class="row">
            <div class="col-sm-6 col-md-7 col-lg-6 content-img">
                <img class="img-responsive" ng-src="/content/images/{{slide.imageFile}}" />
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6 content">
                <h1><small><span class="subtletext">{{slide.titleHead}}</span></small>{{slide.titleTail}}</h1>
                <p class="lead">{{slide.leadText}}</p>
            </div>
        </section>

    </uib-slide>
</uib-carousel>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="well well-lg">
            <img src="/content/images/icon-props.png" class="content-hdr-img" />
            <div>
                <h5>Custom Booths &amp; Props</h5>
                <p>Choose from a variety of backdrops to create a unique photo experience. Have fun with themed props to capture priceless photos of your guests!</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="well well-lg">
            <img src="/content/images/icon-photos.png" class="content-hdr-img" />
            <div>
                <h5>Simple &amp; Interactive</h5>
                <p>View photos immediately. Allow your guests to email copies to themselves and bring home a print as a keepsake. An attendant will be on-site to help if you need.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="well well-lg">
            <img src="/content/images/icon-moneybag.png" class="content-hdr-img" />
            <div>
                <h5>Packages &amp; Discounts</h5>
                <p>Whether you were referred by a friend or are a repeat customer, we will work with your budget to create an unforgettable experience!</p>
            </div>
        </div>
    </div>
</div>