﻿<!DOCTYPE html>
<html ng-app="Exquisite">
<head>
    <title ng-if="pageHead" ng-bind-template="{{pageHead.title}} - Exquisite Booths Inc. Entertainment Service"></title>
    <title>Exquisite Booths Inc. Entertainment Service</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
    <meta name="description" ng-if="pageHead" content="{{pageHead.description}}" />
    <meta name="description" content="Exquisite Booths provides innovative party services for any event in New York City by organizing a fun and comfortable environment for all." />
    <meta property="og:site_name" content="Exquisite Booths Inc. Entertainment Service" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Exquisite Booths Inc. Entertainment Service" />
    <meta property="og:description" content="Exquisite Booths provides innovative party services for any event in New York City by organizing a fun and comfortable environment for all." />
    <meta property="og:image" content="http://www.exquisitebooths.com/content/images/og-image.jpg" />
    <base href="/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli" />
    <link rel="stylesheet" href="/content/jquery-ui.min.css" />
    <link rel="stylesheet" href="/content/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/global.css" />
    <script src="/scripts/jquery-2.2.0.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="/content/images/exquisite-logo.png" alt="Exquisite Photo Booths" /></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-collapse collapse" id="navbar-collapse">
                    <li><a ui-sref="about">About Us</a></li>
                    <li><a ui-sref="gallery">Gallery</a></li>
                    <li><a ui-sref="services">Services</a></li>
                    <li><a ui-sref="contact">Contact</a></li>
                    <li class="social-media-links">
                        <a href="http://www.facebook.com/nyphotobooth/" title="Exquisite Booths Facebook Page"><img src="/content/images/facebook-negative.png" width="19" height="19" alt="Facebook" /></a>
                        <a href="http://twitter.com/ExquisiteNYPB" tite="Latest Tweets from Exquisite Booths"><img src="/content/images/twitter-negative.png" width="23" height="19" alt="Twitter" /></a>
                        <a href="http://www.instagram.com/exquisitebooths/" title="Exquisite Booths Instagram Feed"><img src="/content/images/instagram-negative.png" width="19" height="19" alt="Instagram" /></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container" role="main">
        <div ui-view></div>
        <div class="loader-overlay" ng-if="loading" ng-class="{'loader-with-content': loaderMessage}">
            <div class="loader-container">
                <div class="spinner" role="progressbar">
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                    <div class="spinner-bar"></div>
                </div>
                <div ng-if="loaderMessage" class="loader-overlay-message">{{loaderMessage}}</div>
            </div>
        </div>
    </main>
    <footer>
        <nav class="navbar">
            <div class="container">
                <p class="navbar-text">&copy; 2016 Exquisite Booths Inc. All rights reserved.</p>
                <ul class="nav navbar-nav navbar-right">
                    <li class="social-media-links">
                        <a href="/contact.html" title="Contact Us"><img src="/content/images/contact.png" alt="Contact Us" /></a>
                        <a href="http://www.facebook.com/nyphotobooth/" title="Exquisite Booths Facebook Page"><img src="/content/images/facebook.png" width="19" height="19" alt="Facebook" /></a>
                        <a href="http://twitter.com/ExquisiteNYPB" tite="Latest Tweets from Exquisite Booths"><img src="/content/images/twitter.png" width="23" height="19" alt="Twitter" /></a>
                        <a href="http://www.instagram.com/exquisitebooths/" title="Exquisite Booths Instagram Feed"><img src="/content/images/instagram.png" width="19" height="19" alt="Instagram" /></a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
    <script src="/scripts/modernizr-2.8.3.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-ui-router.min.js"></script>
    <script src="/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services.js"></script>
    <script src="/scripts/controllers.js"></script>
    <script src="/scripts/providers.js"></script>
    <script src="/scripts/global.js"></script>
    <div ui-view="scripts"></div>
</body>
</html>
